footer{
  @extend .dir;
  .footer{
    width: $width;
    @extend .dir;
    background: $other;
    padding-top: 10px;
    padding-bottom: 8px;
    @media screen and ("max-width:350px"){
      margin-top: 8px;
    }
    .title{
      @include Web(18);
      color: $white;
      margin-top: 10px;
      cursor: default;
    }

  }
}
